################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Logs
/obj
/TestResults
/TestResults/TestResult.xml
